
    {{#each flights as |flight|}}
    {{!-- parent --}}
      <div class="flight-card">
      <div class="flight-card-header">
      {{#each flight.items as |item|}}
          {{!-- <pre>{{json item}}</pre> --}}
          {{#each item.legs as |leg|}}
            {{#each leg.carriers.marketing as |marketing|}}
            <p>{{marketing.name}}</p>
            <img src={{marketing.logoUrl}}></img>
            {{/each}}
            <p><span datas2 = "display">{{leg.arrival}}</span><p>
            </div>
            <div class="card-body">
              <p>
                Description:
              {{leg.destination.name}}
                
              </p>
              <p>
                Origin:
              {{leg.origin.name}}
              </p>
          {{/each}}
          <p>{{item.price.formatted}}</p>
          <button>MODAL MODAL MODAL
          </button>
          </div>
        </div>
      {{/each}}
    {{/each}}




{{#each flights as |flight|}}
    {{#each flight.items as |item|}}
        
        <p>{{item.id}}</p>
        {{#each item.legs as |leg|}}
        <p>{{leg.arrival}}</p>
        {{/each}}
    {{/each}}
{{/each}}

<div id="box">
   <div id="water">
    <p>Have you had water today? </p>
  <div class="button-group align-center">
      <a class="button" data-open="yesModall"><i class="fa-solid fa-thumbs-up"></i></a>
    <div class="tiny reveal" id="yesModall" data-reveal>
      <h2 id="yes">Way to Go!</h2>
      <p class="lead">Keep it up!</p>
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
    <a class="button" data-open="noModall"><i class="fa-solid fa-thumbs-down"></i></a>
    <div class="tiny reveal" id="noModall" data-reveal>
      <h2 id="no">Go drink some water!</h2>
      <p class="lead">Make sure you get at least 8 glasses</p>
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  </div>

<script
      src="/js/searchResults.js"></script>
