
    {{#each flights as |flight|}}
      <div class="flight-card">
      <div class="flight-card-header">
      {{#each flight.items as |item|}}
          {{!-- <pre>{{json item}}</pre> --}}
          {{#each item.legs as |leg|}}
            {{#each leg.carriers.marketing as |marketing|}}
            <p>{{marketing.name}}</p>
            <img src={{marketing.logoUrl}}></img>
            {{/each}}
            {{!-- <p>{{leg.carriers.marketing.logoUrl}}</p> --}}
            <p>{{leg.arrival}}<p>
            </div>
            <div class="card-body">
              <p>
                Description:
              {{leg.destination.name}}
                
              </p>
              <p>
                Origin:
              {{leg.origin.name}}
              </p>
          {{/each}}
          <p>{{item.price.formatted}}</p>
          </div>
        </div>
      {{/each}}
    {{/each}}




{{#each flights as |flight|}}
    {{#each flight.items as |item|}}
        
        <p>{{item.id}}</p>
        {{#each item.legs as |leg|}}
        <p>{{leg.arrival}}</p>
        {{/each}}
    {{/each}}
{{/each}}

<script
      src="/js/searchResults.js"></script>
