  <div class="container-box">
      {{#each flights as |flight|}}
        {{#each flight.items as |item|}}
    <div class="flight-card"><span datas2 = "display">

              <div class="flight-card-header">
            {{#each item.legs as |leg|}}
              {{#each leg.carriers.marketing as |marketing|}}
              <p>{{marketing.name}}</p>
              <img class="flight-img" src={{marketing.logoUrl}}></img>             
              <p>{{leg.arrival}}</p>
              </div>

                <p>
                  Destination:
                {{leg.destination.name}}
                </p>
                <p>
                  Origin:
                {{leg.origin.name}}
                </p>
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">Add this Flight!</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          {{!-- {{#each flights as |flight|}}
                            {{#each flight.items as |item|}}
                              {{#each item.legs as |leg|}} --}}
                          <p>{{leg.arrival}}</p>
                          <p>{{leg.destination.name}}</p>
                          <p>{{leg.origin.name}}</p>
                          <p>{{marketing.name}}</p>
                              {{!-- {{/each}}
                            {{/each}}
                          {{/each}} --}}
                          <p id="modal-info"></p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                      </div>
                    </div>
                  </div>
            <p>{{item.price.formatted}}</p>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add this Flight!</button>
      </span></div>
            {{/each}}
          {{/each}}
        {{/each}}
      {{/each}}
  </div>
  



<script
      src="/js/searchResults.js"></script>
